ConnectionStrings__Profile="Server=SQL_HOST,1433;Database=apiweb-profilesystem;User Id=PROFILE_USER;Password=CHANGE_ME;Encrypt=True;TrustServerCertificate=True;Connection Timeout=15;Connect Retry Count=3;Pooling=true;Max Pool Size=100;MultipleActiveResultSets=true"
Sso__BaseUrl=http://127.0.0.1:5001
Sso__UserInfoPath=/api/auth/me
InternalAuth__HeaderName=X-Api-Key
InternalAuth__ApiKeys__0__Key=CHANGE_ME_SSO_KEY
InternalAuth__ApiKeys__0__Name=SsoLoginService
InternalAuth__ApiKeys__1__Key=CHANGE_ME_INTERNAL_KEY
InternalAuth__ApiKeys__1__Name=InternalSystems
Verification__CodeLength=6
Verification__ExpirationMinutes=5
Verification__MaxAttempts=5
Verification__ShowCodeInResponse=false
FileStorage__BaseUrl=https://storage.sabzevar.ir
Swagger__Enabled=true
Logging__File=/var/log/profileservice/app-.log
