ConnectionStrings__Profile=Server=185.255.91.242,2019;Database=apiweb-profilesystem;User Id=apiwebprofilesystemuser;Password=Ad$$g84&hQ!;Encrypt=True;TrustServerCertificate=True;Connection Timeout=15;Connect Retry Count=3;Pooling=true;Max Pool Size=100;MultipleActiveResultSets=true
Sso__BaseUrl=http://127.0.0.1:5001
Sso__UserInfoPath=/api/auth/me
Sso__TimeoutSeconds=8
Sso__RetryCount=2
InternalAuth__HeaderName=X-Api-Key
InternalAuth__ApiKeys__0__Key=dev-internal-key-137
InternalAuth__ApiKeys__0__Name=InternalDev
InternalAuth__ApiKeys__1__Key=dev-internal-key-profile
InternalAuth__ApiKeys__1__Name=SsoLoginService
Verification__CodeLength=6
Verification__ExpirationMinutes=5
Verification__MaxAttempts=5
Verification__ShowCodeInResponse=false
Verification__Provider=Console
FileStorage__BaseUrl=https://storage.sabzevar.ir
Swagger__Enabled=true
Cors__AllowedOrigins__0=https://apiweb-profilesystem.sabzevar.ir
Cors__AllowedOrigins__1=https://sso.shahrdari.ir
Cors__AllowedOrigins__2=https://map.sabzevar.ir
Cors__AllowedOrigins__3=http://localhost:3000
Logging__File=/var/log/profileservice/app-.log
ASPNETCORE_ENVIRONMENT=Production
